<!DOCTYPE html>
<html>

<head>
    <title>SONIX PAGE</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("https://wallpapercave.com/wp/wp2874367.jpg");
            background-size: cover;
            color: #333;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        li a {
            margin-right: 10px;
            color: #333;
            text-decoration: none;
        }

        li a:hover {
            color: #ff0000;
        }

        form {
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            padding: 8px 16px;
            background-color: rgba(0, 128, 0, 0.8);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: rgba(0, 128, 0, 0.6);
        }
    </style>
</head>

<body>
    <h1>SONIX Friends List</h1>
    <ul>
        <% todolist.forEach(function(todo, index) { %>
        <li>
            <a href="/todo/delete/<%= index %>">✘</a>
            <a href="/todo/<%= index %>">✎</a>
            <%- todo %>
        </li>
        <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
        <p>
            <label for="newtodo">ADD Friends?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus />
            <input type="submit" value="Add" />
        </p>
    </form>
</body>

</html>
